html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quote-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 35px 45px;
    margin: 5px;
    max-width: 800px;
}

.quote-text > i {
    font-size: 1em;
    margin-right: 10px;
}

.quote-text {
    font-size: 2em;
    text-align: center;
}

.quote-author {
    font-size: 1.5em;
    text-align: right;
    padding: 10px 0;
}

.buttons {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.button {
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
}

.button:hover {
    color: black;
    opacity: 0.95;
}

#tweet-quote {
    font-size: 1.2em;
}
