$bodyBackground: #fff;
$drumPadBackground: #eee;
$drumPadActive: #fff;
$drumMachineBackground: #282828;
$displayBackground: #FFFF00;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    background: $bodyBackground;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

    #root {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        #drum-machine {
            width: 350px;
            border: 5px solid #000;
            border-radius: 5px;
            background: $drumMachineBackground;

            #display {
                min-height: 50px;
                background: $displayBackground;
                padding: 10px;
                font-weight: bold;
                font-size: 30px;
                border-bottom: 2px solid #000;
            }

            .drum-buttons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;

                .drum-pad {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 95px;
                    height: 95px;
                    border: 1px solid #000;
                    border-radius: 5px;
                    background: $drumPadBackground;
                    margin: 10px 0;
                    cursor: pointer;
                    font-weight: 900;

                    &:hover {
                        border: 2px solid #FFFF00;
                    }
                }

                .active {
                    background: $drumPadActive;
                    border: 2px solid #000;
                    color: #fff;
                }
            }
        }
    }
}
